* {
    font-family: 'Nunito', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.img-fluid.logo {
    height: 30px;
}

.card-body{
    padding: 10px
}

.text-blue {
    color: #0453A1 !important;
}

.read-more{
    display: block;
    background: #1b75bb;
    color:#fff;
    max-width: fit-content;
    margin:0 auto;
    margin-top: 10px;
}

header {
    min-height: 100vh;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*YOUTUBE*/

.videos {
    padding: 30px 0;
}

.videos .owl_video .owl-stage {
    padding: 150px 0 60px;
    padding-bottom: 0;
}

.videos .owl_video .intro-video span {
    color: #fff;
    font-size: 12px;
    text-align: center;
    display: block;
    background: #014a81;
    padding: 0 7px;
}

.videos .owl_video .owl-item {
    -webkit-transition: 0.3s all ease-out;
    -ms-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.videos .owl_video .owl-item.center {
    transform: scale(1.6) translateY(-60px);
    z-index: 100;
}

.videos .owl_video .owl-item.center:after {
    bottom: -20px;
}

.videos .owl-carousel .owl-nav>div {
    position: absolute;
    top: calc(45% - 25px);
}

.videos .owl-carousel .owl-nav {
    display: block !important;
    position: absolute;
    top: 50%;
    width: 100%;
}

.videos .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 20px;
}

.videos .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 20px;
}

.videos .owl-nav i {
    color: #fff;
    font-size: 20px;
    padding: 0;
    text-align: center;
    margin-top: 5px;
}

/*video*/
.intro-video {
    padding: 0 15px 25px;
}

/*youtube home*/
.youtube {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}

.youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}

.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 6px;
    opacity: 0.8;
    transition: 0.3s all linear;
}

.youtube:hover .play-button {
    opacity: 1;
}

.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
    cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.intro-video {
    margin-top: 30px;
}

/* .preview-intro-video {
    margin: 0 10px;
} */

/* img[data-src].lazy {
    -ms-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
} */

img[data-src].lazy.youtube-loaded{
    -ms-opacity: 0.7;
    opacity: 0.7;
}

/*END YOUTUBE*/



.fs-40 {
    font-size: 40px;
}

.bg-white-50 {
    background-color: rgba(255, 255, 255, 0.5);
}

body,
html {
    overflow-x: hidden;
}

.nav-link {
    font-size: 18px;
}

.cards {
    background: linear-gradient(white, #EDF8FC, #EDF8FC, #EDF8FC, #EDF8FC) !important;
}

.fs-32 {
    font-size: 32px;
}

.cards.py-5 img {
    height: 75px;
    margin-bottom: 30px !important;
}

.fs-60 {
    font-size: 60px;
}

iframe {
    width: 100% !important;
    height: 300px;
}

.iframe {
    background-color: #EDF8FC;
}

.fs-30 {
    font-size: 30px;
}

.slickSlider {
    background: url("../img/slide-012.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn.prevBtn.slick-arrow {
    position: absolute;
    z-index: 10;
    left: -50px;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.btn.nextBtn.slick-arrow {
    position: absolute;
    z-index: 10;
    right: -50px;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.bg-blue {
    background-color: #EDF8FC;
}

footer {
    background-color: #1B75BB;
}

.ml-3.icon-holder {
    background: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.ml-3.icon-holder:hover {
    background: #52D3ED;
}

.ml-3.icon-holder:hover a {
    color: white !important;
}

body {
    min-height: 100vh;
}

header.about-hero {
    min-height: 80vh;
    background-image: url("../img/scandinavian-children-room-design-ideas-light-pink-color-wall-background-3d-rendering.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.border-left.border-info.border-3.pl-4 {
    border-left: 3px solid #52D3ED !important;
    padding-bottom: 19px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.img-fluid.dots {
    position: absolute;
    bottom: -20px;
    right: -20px;
    z-index: 0;
    width: 110px;
}

iframe {
    position: relative;
    z-index: 100;
}

.overlay {
    background-image: url("../img/overlay.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right;
}

.fs-24 {
    font-size: 24px;
}

.text-warning {
    color: #F7AF07 !important;
}

.fs-64 {
    font-size: 64px;
}

.iframe-full.h-50 {
    height: 300px !important;
}

.iframe-full.h-50 iframe {
    height: 300px !important;
}

.card.border-0.bg-blue-dark {
    background: #1B75BB;
}

.card.border-0.bg-blue-dark {
    background: #1B75BB;
    border-bottom: 10px solid rgba(255, 255, 255, .2) !important;
    position: relative;
    top: 30px;
    margin-top: -30px;
}

.slider-nav {
    margin-top: 20px !important;
}

.slider-nav .slick-track {
    width: 100% !important;
}

.slider-nav .slick-list.draggable {
    padding: 0 !important;
}

.slider-nav .slide {
    margin: auto !important;
    width: 20% !important;
    padding: 4px;
}

.fa-circle {
    font-size: 13px;
}

header.bg-blue {
    background: #6CBBF9;
    height: auto !important;
}

.btn2Field,
.btn3Field,
.btn4Field,
.btn5Field,
.btn6Field {
    display: none;
}

.navbar-light .navbar-nav .nav-link{
    padding-right: 0.8rem
}

/* Content Style */

.content-detail{
    margin: 30px 0;
    font-size: 16px;
}

.header-product-detail{
    min-height: auto !important;
    background-image: none !important;
    background-color: #ebf6ff !important;
}

.content-detail .aligncenter{
    clear: both;
    display: block;
    margin: 15px auto;
}

.content-detail ul{
    padding-left: 20px;
}

.content-detail img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 15px auto;
}

.content-detail li{
    list-style: unset;
}

.content-detail pre, 
.content-detail blockquote, 
.content-detail form, 
.content-detail figure,
.content-detail p, 
.content-detail dl, 
.content-detail ul, 
.content-detail em, 
.content-detail ol{
    margin-bottom: 13px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}


.content-detail.height-fixed{
    max-height: 600px;
    overflow: hidden;
}

/* Cart */

.header-btn-cart{
    /* position: relative; */
}

.header-btn-cart:hover{
    opacity: 1;
}

.header-btn-cart .alert-cart{
    display: none;
    position: absolute;
    width: 300px;
    top: 52px;
    right: -73px;
    padding: 25px;
    background: #0453a1;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    z-index: 999999;
}

.header-btn-cart .alert-cart:before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 42%;
    border: 10px solid transparent;
    border-bottom-color: #27397a;
}

.header-btn-cart .alert-cart .close{
    position: absolute;
    top: 3px;
    right: 3px;
    color: #fff;
    opacity: 1;
    font-size: 10px;
}

.popup-cart-content .list-cart{
    max-height: 500px;
    overflow: auto;
    padding-right: 10px;
}

.popup-cart-content .list-cart::-webkit-scrollbar{
    width: 5px;
}
.popup-cart-content .list-cart::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.popup-cart-content .list-cart::-webkit-scrollbar-thumb {
    background: var(--primary); 
}
.popup-cart-content .list-cart::-webkit-scrollbar-thumb:hover {
    background: #c01515;
    cursor: pointer;
}

.popup-cart-content .cart-item{
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
}

.popup-cart-content .cart-item:last-child{
    border-bottom: 0;
}

.popup-cart-content .cart-item .image{
    margin-right: 15px;
}

.popup-cart-content .cart-item .product-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.popup-cart-content .cart-item .product-info .price{
    color: #bd0303;
    font-weight: 600;
}

.popup-cart-content .cart-item .product-info .content .price-old{
    color: #bd0303;
}

.popup-cart-content .empty-cart{
    text-align:center;
    font-size: 17px;
    color: var(--primary);
}

.flash-text {
    color: #fd0;
    animation: blinkMe .8s linear infinite;
}
@keyframes blinkMe {
0% {
    opacity: 1;
    color: #fd0;
}
50% {
    opacity: 0.5;
    color: #fff;
}   
100% {
    opacity: 1;
    color: #fd0;
}
}

/* NEWS */
.news-item{
    display: flex;
    margin-bottom: 20px
}

.news-item .image{
    width: 300px;
    min-width: 300px;
    margin-right: 25px;
}

.news-item .image img {
    width: 100%;
    border-radius: 5px;
}

.news-item .info h4{
    color: #1b75bb;
}

.product-featured{
    
}

.product-featured-item .image img{
    width: 100%;
}

.siderbar-news{
    padding: 10px;
    border: 1px solid #f4f4f4;
}


@media screen and (max-width: 992px) {
    .btns.d-flex.justify-content-between.align-items-center {
        flex-wrap: wrap;
        justify-content: flex-start !important;
        align-items: center !important;
        text-align: center !important;
    }

    .btns.d-flex.justify-content-between.align-items-center .btn {
        margin: 10px !important;
        /* margin: auto; */
    }

    .fs-40 {
        font-size: 30px;
    }

    .fs-60 {
        font-size: 50px;
    }

    footer .text-right {
        text-align: left !important;
    }

    footer .list-unstyled.d-flex.justify-content-end.align-items-center {
        justify-content: flex-start !important;
    }

    footer .list-unstyled.d-flex.justify-content-end.align-items-center ul li:first-child {
        margin: 0 !important;
    }

    .ml-3.icon-holder {
        margin-left: 0 !important;
        margin-right: 10px !important;
    }

    .nav-item.ml-5 {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    header {
        min-height: auto;
        background-image: url("../img/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .fs-5.text-blue {
        font-size: 20px;
    }

    .fs-40 {
        font-size: 20px;
    }

    h1.font-weight-semibold.text-blue {
        font-size: 25px;
    }

    .fs-60 {
        font-size: 30px;
    }

    .fs-30 {
        font-size: 20px;
    }

    header.about-hero {
        min-height: auto;
        background-image: url("../img/scandinavian-children-room-design-ideas-light-pink-color-wall-background-3d-rendering.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .fs-32 {
        font-size: 22px;
    }

    .overlay {
        background-image: url("../img/overlay.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }


    .fs-64 {
        font-size: 25px;
    }

    .logos .d-flex.justify-content-between.align-items-center {
        flex-direction: column;
    }

    .logos img {
        margin: 15px 0;
    }
}