:root {
    --primary: #4d60a5;
    --yellow: #ffdd00;
}

/*MIN*/

@media screen and (min-width:768px) {
	
}

@media screen and (min-width:769px) {
	
}

@media screen and (min-width:1023px) {
	.icon-menu-mobile{
		display: none !important;
	}

	.question-answer{
		width: 70%;
		margin: 20px auto
	}
}

@media screen and (min-width:1024px) {
	
}
@media screen and (min-width: 1200px){
	.container{
		padding: 0;
	}

	.nav-menu .main-menu ul > li:hover .sub-menu {
		opacity: 1;
		visibility: visible;
	}

	.border-section .section-title{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	.border-section .section-title h3{
		padding: 8px;
		background: var(--primary);
		margin-bottom: 0;
		font-size: 1.2rem;
		border-radius: 5px 5px 0 0;
	}
	
	.border-section .section-title h3 a{
		color: #fff;
	}
	
	.border-section .section-title h3 a:after{
		display:none;
	}
	
	.border-section .content{
		padding: 15px;
		border: 1px solid var(--primary);
		border-radius: 0 0 5px 5px;
	}

	section .section-title h3 a{
		font-size: 24px;
	}

	.product-item .product-price{
		font-size: 12px;
		margin-top: 5px;
	}

	.youtube-main-title{
		font-size: 14px;
	}
}

@media screen and (min-width:1280px){
	
}

@media screen and (min-width:1440px){
	
}

@media screen and (min-width:1600px){
	
}

@media screen and (min-width:1920px) {
	
}

/*/////////////////////////////////////////////////////////////////////*/
/*MAX*/

@media screen and (max-width:375px) {

}

/* Iphone 7 plus, 8 plus */
@media screen and (max-width:410px){

}


@media screen and (max-width:415px) {
   
}

/*IPAD & MOBILE*/
@media screen and (max-width:768px) {

	.hidden-mb{
		display: none !important;
	}

	header{
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px
	}

	#header .header-top{
		padding: 10px;
	}

	/* MENU */

    .nav-menu .main-menu{
        position: fixed;
		left: -100%;
		top: 0;
		width: 70%;
		height: 100vh;
		background: var(--primary);
		transition: all .5s ease 0s;
		overflow-y: auto;
		z-index: 99999;
    }

	.nav-menu .main-menu > ul{
		flex-direction: column;
		padding: 0;
		margin-top: 20px;
		border-top: 1px solid #6374b4;
	}

	.nav-menu .main-menu > ul > li{
		border-bottom: 1px solid #6374b4;
	}

	.nav-menu .main-menu > ul > li a{
		padding: 15px;
		text-transform: uppercase;
	}

	.main-menu .search{
		width: 90%;
		margin: 0 auto;
		margin-top: 15px;
	}

	.main-menu .search input{
		background-color: #fff;
	}

	.logo-menu{
		width: 70%;
		margin: 0 auto;
	}

	.main-menu.menu-mobile{
		left: 0;
	}

	.nav-menu .main-menu.menu-mobile ul > li > ul.sub-menu{
		position: relative;
		top: 0;
		display: none;
	}

	.nav-menu .menu-mobile > ul > li a{
		display: flex;
		justify-content: space-between;
	}

	.nav-menu .menu-mobile > ul > li a i{
		font-size: 20px;
	}

	/* END MENU */

	.mt-mb-2{
		margin-top: 10px;
	}

	.mt-mb-3{
		margin-top: 15px;
	}

	.mt-mb-4{
		margin-top: 20px;
	}

	.mt-mb-5{
		margin-top: 25px;
	}

	.main-banner .content-wrap{
		flex-direction: column-reverse;
	}
	
	.main-banner .content-wrap .left{
		margin-top: 15px;
	}

	.main-banner .content-wrap .left .content{
		padding: 0 10px;
		text-align: justify;
	}

	.add-cart-product-temp{
		width: 100%;
		font-size: 12px;
		white-space: nowrap;
	}

	.border-section .content{
		padding: 5px;
	}

	.product-item .product-info{
		padding: 5px;
	}

	.product-price{
		text-align: center;
		font-size: 12px;
		white-space: nowrap;
	}

	.section-solution .content .info h4{
		text-align: center;
		font-size: 19px;
		margin: 15px 0;
	}

	.news-wrapper{
		width: 100%;
	}

	.news-wrapper .top-news{
		padding: 15px;
		padding-bottom: 30px;
	}

	.news-wrapper .item{
		flex-direction: column-reverse;
	}

	.section-news .news-wrapper .news-img{
		margin: 0;
	}

	.news-wrapper .top-news .news-info{
		padding: 0;
		margin-top: 15px;
	}

	.bottom-news-item .content .news-info h4{
		height: unset;
	}

	.news-wrapper .top-news .news-info h4 a{
		font-size: 19px;
	}

	.bottom-news .bottom-news-item{
		margin-top: 15px;
	}

	.section-benefit .section-title h3,
	.section-customer .section-title h3{
		font-size: 1.35rem;
	}

	.contact-home-block .item{
		flex-direction: column;
		text-align: center;
	}

	.contact-home-block .item .image{
		margin: 0 auto;
	}

	.contact-home-block .item .info{
		margin-top: 10px;
	}

	.cusomter-slider .item .info{
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}

	.product-item .product-img img{
		height: auto;
		min-height: auto;
	}

	.main-banner{
		padding-top: 10px;
	}

	.main-banner .content-wrap .item.left{
		margin: 0;
		padding: 20px 10px;
		border-radius: 0;
	}

	.main-banner .title{
		font-size: 25px;
		margin: 15px;
	}

	.main-banner .content-wrap .item.right{
		min-height: 360px;
	}

	.content-detail img{
		max-width: 100%;
		height: auto;
	}

	.products-wrapper .product-item{
		width: 50%;
	}

	.post-lists .post-item .post-content{
		flex-direction: column;
	}

	.post-lists .post-item .post-content .body{
		margin-top: 15px;
	}

	.siderbar.posts .siderbar-content .item{
		display: flex;
	}

	.siderbar.posts .siderbar-content .item a{
		display: block;
		width: 150px;
		min-width: 150px;
	}
	
	.siderbar.posts .siderbar-content .item .content{
		margin-top: 0;
		margin-left: 10px;
	}

	.siderbar.posts .siderbar-content .item .content a{
		width: 100%;
	}

	.page-title{
		padding: 10px;
	}

	.nav-menu .main-menu ul > li > ul.sub-menu{
		min-width: 100%;
	}

	.header-btn-cart .alert-cart{
		position: fixed;
		width: 100%;
		top: unset;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 15px;
		border-radius: 0;
	}

	.header-btn-cart .alert-cart:before{
		display:none;
	}

	.shortcode-info .wrap{
		flex-direction: column;
	}

	.shortcode-info .wrap .item p{
		padding-left: 0;
	}

	.shortcode-info h4{
		font-size: 18px;
	}

	.shortcode-info h5{
		font-size: 16px;
	}

	.call-to-action .content h4{
		font-size: 19px;
	}

	.section-contact .section-title h3 a{
		font-size: 21px;
	}

	/* .hotline-bar{
		display: none;
	} */

	.social {
		left: 0;
		top: unset;
		bottom: 10px;
		right: 10px;
		text-align: right;
	}

	.social .item-social{
		display: inline-block;
		margin-left:10px
	}

	.hotline-phone-ring-wrap{
		zoom: 0.8;
	}

	.hotline-bar > a{
		font-size: 13px;
	}

	.section-policy .content{
		flex-direction: column;
	}

	.policy-item{
		margin-top: 15px;
	}
}

/* END 768*/

@media screen and (max-width:767px) {
	
}

@media screen and(max-width: 991px){
	
}

@media (max-width: 1199.98px) {
	.icon-menu-mobile{
		margin-left: 25px;
	}

	.icon-menu-mobile i{
		font-size: 35px;
		color: var(--primary);
	}

	.cart-header i{
		font-size: 25px;
	}
}

@media screen and (max-width:1366px) {
	
}

@media screen and (max-width:1440px) {
	
}


/*PC 1366*/
@media screen and (min-width:1000px) and (max-width:1500px) {
    	
}

/*Ipad 1024*/
@media screen and (min-width:992px) and (max-width:1199px) {
	
}

/*END Ipad 1024*/

@media screen and (max-width:991px) and (min-width:768px) {
    
}

/*Ipad 768*/
@media screen and (max-width:768px) and (min-width: 767.5px) {
	
}

@media (min-height: 600px) and (max-width: 375px) {

}

